:root {
  color-scheme: dark light;

  /* common colors */
  --clr-vivid-blue: #0079ff;
  --clr-pure-white: #fefefe;
  --clr-error: #f74646;

  /* light theme colors */
  --clr-grayish-blue: #697c9a;
  --clr-muted-blue: #4b6a9b;
  --clr-dark-navy: #2b3442;
  --clr-light-blue: #f6f8ff;

  /* dark theme colors */
  --clr-very-dark-navy: #141d2f;
  --clr-dark-blue: #1e2a47;

  /* theme dependent variables */
  --bg-main: var(--clr-very-dark-navy);
  --bg-container: var(--clr-dark-blue);
  --text-color: var(--clr-pure-white);
  --icon-color: var(--clr-pure-white);
  --icon-color-hover: #90a4d4;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-main: var(--clr-light-blue);
    --bg-container: var(--clr-pure-white);
    --text-color: var(--clr-muted-blue);
    --icon-color: var(--clr-grayish-blue);
    --icon-color-hover: #222731;
    --heading-color: var(--clr-dark-navy);
  }
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/SpaceMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  background-color: var(--bg-main);
  color: var(--text-color);
  transition: background-color 0.2s, color 0.2s;
}

html.light-theme {
  background-color: var(--clr-light-blue);
  --bg-container: var(--clr-pure-white);
  --text-color: var(--clr-muted-blue);
  --icon-color: var(--clr-grayish-blue);
  --icon-color-hover: #222731;
  --heading-color: var(--clr-dark-navy);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Space Mono', monospace;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h2,
h3 {
  color: var(--heading-color);
}

#root,
#__next {
  isolation: isolate;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
